.parent div{
  width: 200px;
  height: 200px;
  position: absolute;
}
.child{
  background-color: skyblue;
  margin: 10px;
  z-index: 0;
}
.child2{
  background-color: gold;
  margin: 30px;
  z-index: 2;
}
.child3{
  background-color: gray;
  margin: 20px;
  z-index: 1;
}