.parent {
  border: 5px solid red;
  width: 600px;
  /* 부모요소에 height를 주지 않는 이유는
     자식요소에서 height를 주면 자동으로 커지기때문이다. */
     /* 높이값을 지정하는방식 */
     /* height:  200px; */
     overflow: hidden;
     text-align: center;
}
.child {
  background-color: gold;
  width: 200px;
  height: 200px;
  /* float: left는 기본이 아니라 
     float : none임을 주의하자 */
  display: inline-block;
  /* float: left; */
  /* margin: auto; */
}
