.parent {
  /* position: relative; */
  width: 400px;
  height: 400px;
  border: 1px solid black;
}
.child {
  background-color: dodgerblue;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* translate => 이동한다는 의미 */
  transform: translate(-50%, -50%);
}
